.mybody {
  height: 100vh;
  width: 100vw;
  margin: 0 0;
  background: green;
  position: relative;
  margin-top: 0px;
}

.page-content {
  /* margin-top: 100px; */
  padding-top: 70px;
  /* background: red; */
  padding-right: 40px;
  padding-left: 40px;
}
